<form class="flexcol {{cssClass}}" autocomplete="off">

{{log this}}

    {{!-- Sheet Header --}}
    <header class="sheet-header">
		<table>
			<tr>
				<td>
					<!-- <img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="300" width="200" /> -->
					<img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
				</td>
				<td>
					<div class="header-fields">
						<table>
							<tr>
								<td>
									<h1 class="charname">
										<input name="name" type="text" value="{{data.name}}" placeholder="{{ localize "CDE.Name" }}" />
									</h1>
								</td>
							</tr>
							<tr>
								<td>
									<div class="resourceZ">
										<input type="text" name="system.concept" value="{{systemData.concept}}" placeholder="{{ localize "CDE.Concept" }}"/>
										<span> / </span>
										<!-- <select name="system.guardian" value="{{ systemData.guardian }}" > -->
										<select name="system.guardian">
										{{#select systemData.guardian }}
											<option value="0">{{ localize "CDE.CelestialGuardian" }}</option>
											<option value="1">{{ localize "CDE.CelestialGuardian1" }}</option>
											<option value="2">{{ localize "CDE.CelestialGuardian2" }}</option>
											<option value="3">{{ localize "CDE.CelestialGuardian3" }}</option>
											<option value="4">{{ localize "CDE.CelestialGuardian4" }}</option>
											<option value="5">{{ localize "CDE.CelestialGuardian5" }}</option>
										{{/select}}
										</select>
									</div>
								<td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
    </header>
	

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "CDE.Description2" }}</a>
		<a class="item" data-tab="skills">{{ localize "CDE.Skills" }}</a>
		<a class="item" data-tab="magics">{{ localize "CDE.Magics" }}</a>
        <a class="item" data-tab="nghang">{{ localize "CDE.NgHang" }}</a>
		<a class="item" data-tab="treasures">{{ localize "CDE.Treasures" }}</a>
		<a class="item" data-tab="spells">{{ localize "CDE.Spells" }}</a>
        <a class="item" data-tab="kungfus">{{ localize "CDE.KungFu" }}</a>
        <a class="item" data-tab="items">{{ localize "CDE.Items" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
	


        {{!-- Biography Tab --}}
        <div class="tab description description_wrap" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
		</div>
		


		{{!-- Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">


			<table>

				{{#each systemData.skills as |skill key|}}
				<tr class="clickondie">
					<td class="click"  data-libel-id="{{key}}-skill"><img class="d1click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}{{ localize skill.label }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize skill.label }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.skills.{{@key}}.value" value="{{skill.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.skills.{{@key}}.specialities" value="{{skill.specialities}}" /></td>
					<td class="bonus"><b>+1 D</b></td>
					<td class="click" data-libel-id="{{key}}-special"><img class="d2click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.DieSP" }}" alt="Die" /></td>
				</tr>
				{{/each}}

			</table>


			&nbsp;<br>&nbsp;
			<b>{{ localize "CDE.Resources" }}</b>
			<table>

				{{#each systemData.resources as |resource key|}}
				<tr class="clickondie">
					<td class="click" data-libel-id="{{key}}-resource"><img class="d1click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}{{ localize resource.label }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize resource.label }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.resources.{{@key}}.value" value="{{resource.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Fields" }}" name="system.resources.{{@key}}.specialities" value="{{resource.specialities}}" /></td>
					<td class="bonus"><b>+1 D</b></td>
					<td class="click" data-libel-id="{{key}}-area"><img class="d2click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.DieDM" }}" alt="Die" /></td>
					<td class="check"><input type="checkbox" name="system.resources.{{@key}}.debt" {{checked resource.debt}} title="{{ localize "CDE.Debt" }}{{ localize resource.label }}" /></td>
				</tr>
				{{/each}}

			</table>

		</div>
		
		
		
		{{!-- Magics Tab --}}
		<div class="tab magics" data-group="primary" data-tab="magics">
		
			&nbsp;<br>&nbsp;
			<b>{{ localize "CDE.Components2" }}</b>
			<table>
				<tr>
					<td style="width: 2.2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-1.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}1" name="system.component.one.value" value="{{systemData.component.one.value}}"/></td>
					<td style="width: 2%;">&nbsp;</td>
					<td style="width: 2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-6.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}6" name="system.component.six.value" value="{{systemData.component.six.value}}"/></td>
				</tr>
				<tr>
					<td style="width: 2.2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-2.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}2" name="system.component.two.value" value="{{systemData.component.two.value}}"/></td>
					<td style="width: 2%;">&nbsp;</td>
					<td style="width: 2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-7.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}7" name="system.component.seven.value" value="{{systemData.component.seven.value}}"/></td>
				</tr>
				<tr>
					<td style="width: 2.2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-3.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}3" name="system.component.three.value" value="{{systemData.component.three.value}}"/></td>
					<td style="width: 2%;">&nbsp;</td>
					<td style="width: 2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-8.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}8" name="system.component.eight.value" value="{{systemData.component.eight.value}}"/></td>
				</tr>
				<tr>
					<td style="width: 2.2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-4.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}4" name="system.component.four.value" value="{{systemData.component.four.value}}"/></td>
					<td style="width: 2%;">&nbsp;</td>
					<td style="width: 2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-9.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}9" name="system.component.nine.value" value="{{systemData.component.nine.value}}"/></td>
				</tr>
				<tr>
					<td style="width: 2.2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-5.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}5" name="system.component.five.value" value="{{systemData.component.five.value}}"/></td>
					<td style="width: 2%;">&nbsp;</td>
					<td style="width: 2%;" class="image"><img src="systems/chroniquesdeletrange/images/d10-0.png" alt="Die" /></td>
					<td style="width: 25%;" class="value"><input class="input" type="text" placeholder="{{ localize "CDE.Component" }}0" name="system.component.zero.value" value="{{systemData.component.zero.value}}"/></td>
				</tr>
				<tr class="chancethrow">
					<td style="width: 2.2%;" class="click" data-libel-id="randomize-randomize"><img src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.ChanceThrow" }}"" alt="Die" /></td>	
					<td style="margin-left: 5px;" class="label"><b>&nbsp;{{ localize "CDE.ChanceThrow" }}</b></td>
				</tr>
			</table>	
			
			&nbsp;<br>&nbsp;
			<b>{{ localize "CDE.TypesOfMagic" }}</b>


			{{#each systemData.magics as |magic key1|}}
			<table class="{{magic.background}}">

				<tr class="clickondie">
					<td class="click" data-libel-id="{{key1}}-magic"><img id="system.magics.{{@key}}.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}{{ localize magic.label }}" alt="{{ localize magic.aspectlabel }}" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize magic.label }}</b></td>
					<td class="image"><img id="system.magics.{{@key}}.cercle.value" src="systems/chroniquesdeletrange/images/cercle.png" title="Circle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.magics.{{@key}}.value" value="{{magic.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize magic.aspectlabel }}</b></td>
					<td>
						<table>
							{{#each magic.speciality as |special key2|}}
							<tr class="clickondie">
								<td class="check"><input type="checkbox" name="system.magics.{{key1}}.speciality.{{key2}}.check" {{ checked special.check }} title="{{ localize "CDE.PracticeSpecialty" }}{{ localize special.label }}" /></td>
								<td class="label"><b>{{ localize special.label }}</b></td>
								<td class="icon-element"><img src="{{special.elementicon}}" title="{{ localize special.labelelement }}" alt="{{special.labelelement}}" /></td>
								<td class="{{special.classicon}}"><img src="{{special.icon}}" title="{{special.labelicon}}" alt="{{special.labelicon}}" /></td>
								<td class="click icon-d" data-libel-id="{{key1}}-magicspecial-{{key2}}"><img id="{{system.magics.magic.speciality.special.click}}" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.DieSP" }}{{ localize special.label }}" alt="Die" /></td>
							</tr>	
							{{/each}}
							
						</table>
					</td>
				</tr>

			</table>
			{{/each}}
			
		</div>

<!---->

		{{!-- 3 Treasures Tab --}}
		<div class="tab treasures" data-group="primary" data-tab="treasures">
			&nbsp;<br>&nbsp;
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.HEI" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.Essence2" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.YANG-YIN" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				{{ localize "CDE.Max-Present-Present-Max" }}
			</div>
			<div>
				<img style="width: 17%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 27%;margin-left: -35px;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-top: 0px;" class="cercle-yinyang" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 27%;position: relative;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 17%;margin-left: -35px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 35px;text-align: center;font-size: 1.5em;" class="input heiyang.max" type="number" name="system.threetreasures.heiyang.max" value="{{systemData.threetreasures.heiyang.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyang.value" type="number" name="system.threetreasures.heiyang.value" value="{{systemData.threetreasures.heiyang.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 240px;text-align: center;font-size: 1.5em;" class="input heiyin.value" type="number" name="system.threetreasures.heiyin.value" value="{{systemData.threetreasures.heiyin.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyin.max" type="number" name="system.threetreasures.heiyin.max" value="{{systemData.threetreasures.heiyin.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.SAN-ZING" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.MentalHealth-PhysicalHealth" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
			{{ localize "CDE.Max-Present-Malus-Present-Max" }}
			</div>
			<div>
				<img style="width: 9%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>--</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle.petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 95px;text-align: center;font-size: 1.5em;" class="input san1.max" type="number" name="system.threetreasures.dicelevel.level0d.san.max" value="{{systemData.threetreasures.dicelevel.level0d.san.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san1.value" type="number" name="system.threetreasures.dicelevel.level0d.san.value" value="{{systemData.threetreasures.dicelevel.level0d.san.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 145px;text-align: center;font-size: 1.5em;" class="input zing1.value" type="number" name="system.threetreasures.dicelevel.level0d.zing.value" value="{{systemData.threetreasures.dicelevel.level0d.zing.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing1.max" type="number" name="system.threetreasures.dicelevel.level0d.zing.max" value="{{systemData.threetreasures.dicelevel.level0d.zing.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div>
				<img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>- 1 D</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle-tres_petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san2.max" type="number" name="system.threetreasures.dicelevel.level1d.san.max" value="{{systemData.threetreasures.dicelevel.level1d.san.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san2.value" type="number" name="system.threetreasures.dicelevel.level1d.san.value" value="{{systemData.threetreasures.dicelevel.level1d.san.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 160px;text-align: center;font-size: 1.5em;" class="input zing2.value" type="number" name="system.threetreasures.dicelevel.level1d.zing.value" value="{{systemData.threetreasures.dicelevel.level1d.zing.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing2.max" type="number" name="system.threetreasures.dicelevel.level1d.zing.max" value="{{systemData.threetreasures.dicelevel.level1d.zing.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div>
				<img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>- 2 D</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san3.max" type="number" name="system.threetreasures.dicelevel.level2d.san.max" value="{{systemData.threetreasures.dicelevel.level2d.san.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san3.value" type="number" name="system.threetreasures.dicelevel.level2d.san.value" value="{{systemData.threetreasures.dicelevel.level2d.san.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 160px;text-align: center;font-size: 1.5em;" class="input zing3.value" type="number" name="system.threetreasures.dicelevel.level2d.zing.value" value="{{systemData.threetreasures.dicelevel.level2d.zing.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing3.max" type="number" name="system.threetreasures.dicelevel.level2d.zing.max" value="{{systemData.threetreasures.dicelevel.level2d.zing.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.PTAO" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.Experience" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				{{ localize "CDE.Total-Present" }}
			</div>
			<div>
				<img style="width: 32%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Total" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 255px;text-align: center;font-size: 1.5em;" class="input experience.max" type="number" name="system.experience.max" value="{{systemData.experience.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input experience.value" type="number" name="system.experience.value" value="{{systemData.experience.value}}"/>
            </div>
		</div>
		
		
				
		{{!-- NgHang Tab --}}
        <div class="tab nghang nghang_wrap" data-group="primary" data-tab="nghang">
			<div class="schema">
				<!-- var parent_id = $(this).parent().parent().attr('id'); -->

				<img class="logo" src="systems/chroniquesdeletrange/images/logo_jeu.png" title="奇闻异事 ● Hong Kong – Les Chroniques de l'&Eacute;trange ● R.d′Huissier & C.Lameire ● Antre Monde &Eacute;ditions" alt="Logo">

				<div class="clickondie nghangpart1">
					<div class="fire">
						<img class="click2"  data-libel-id="fire-aspect" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.Fire" }}"
						alt="Die" alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
					</div>
					<input type="number" name="system.aspect.fire.value" value="{{systemData.aspect.fire.value}}" title="{{ localize "CDE.Fire" }}{{ localize "CDE.FireQualities" }}" />
				</div>
				<div class="clickondie nghangpart2">
					<div class="wood">
						<img class="click2" data-libel-id="wood-aspect" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.Wood" }}"
						alt="Die" alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
					</div>
					<input type="number" name="system.aspect.wood.value" value="{{systemData.aspect.wood.value}}" title="{{ localize "CDE.Wood" }}{{ localize "CDE.WoodQualities" }}" />
				</div>
				<div class="nghangpart3">
				</div>
				<div class="clickondie nghangpart4">
					<div class="earth">
						<img class="click2" data-libel-id="earth-aspect" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.Earth" }}"
						alt="Die" alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
					</div>
					<input type="number" name="system.aspect.earth.value" value="{{systemData.aspect.earth.value}}" title="{{ localize "CDE.Earth" }}{{ localize "CDE.EarthQualities" }}" />
				</div>
				<div class="clickondie nghangpart5">
					<div class="water">
						<img class="click2" data-libel-id="water-aspect" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.Water" }}"
						alt="Die" alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
					</div>
					<input type="number" name="system.aspect.water.value" value="{{systemData.aspect.water.value}}" title="{{ localize "CDE.Water" }}{{ localize "CDE.WaterQualities" }}" />
				</div>
				<div class="nghangpart6">
				</div class="metal">
				<div class="clickondie nghangpart7">
					<div class="metal">
						<img class="click2" data-libel-id="metal-aspect" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}{{ localize "CDE.Metal" }}"
						alt="Die" alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
					</div>
					<input type="number" name="system.aspect.metal.value" value="{{systemData.aspect.metal.value}}" title="{{ localize "CDE.Metal" }}{{ localize "CDE.MetalQualities" }}" />
				</div>
			</div>
			<img src="systems/chroniquesdeletrange/images/nghang.png"
				title="Ng Hang"
				alt="Ng Hang">
		</div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "CDE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "CDE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "CDE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.ItemCreate" }}</a>
            </p>
        </div>

        {{!-- Owned KungFu Tab --}}
        <div class="tab kungfus" data-group="primary" data-tab="kungfus">
            <ol class="kungfu-list">
                {{#each data.kungfus as |kungfu id|}}
                <li class="kungfu flexrow" data-item-id="{{kungfu._id}}">
                    <img src="{{kungfu.img}}" title="{{kungfu.name}}" width="24" height="24" />
                    <h4 class="kungfu-name">{{kungfu.name}}</h4>
<!--                    {{!-- Iterate through all attributes on the kungfu and output buttons for any that are formula. --}}
                    <div class="kungfu-buttons">
                        {{#each kungfu.system.attributes as |kungfuAttr key|}}
                        {{#if kungfuAttr.dtype}}
                            {{#if kungfuAttr.isFormula}}
                                {{!-- Use the kungfus.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="kungfu-button rollable" data-roll="@kungfus.{{slugify kungfu.name}}.{{key}}" data-label="{{ kungfuAttr.label }}"
                                    title="{{kungfuAttr.value}}">{{kungfuAttr.label}}</button>
                                {{!-- Use the kungfus.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="kungfu-button rollable"
                                    data-roll="@kungfus.{{slugify kungfu.name}}.attributes.{{key}}.value" data-label="{{ kungfuAttr.label }}"
                                    title="{{kungfuAttr.value}}">{{kungfuAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each kungfuAttr as |kungfuGroupedAttr groupedKey|}}
                                {{#if kungfuGroupedAttr.isFormula}}
                                    {{!-- Use the kungfus.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="kungfu-button rollable" data-roll="@kungfus.{{slugify kungfu.name}}.{{key}}.{{groupedKey}}" data-label="{{ kungfuGroupedAttr.label }}"
                                        title="{{kungfuGroupedAttr.value}}">{{kungfuGroupedAttr.label}}</button>
                                    {{!-- Use the kungfus.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="kungfu-button rollable"
                                        data-roll="@kungfus.{{slugify kungfu.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ kungfuGroupedAttr.label }}"
                                        title="{{kungfuGroupedAttr.value}}">{{kungfuGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div> -->
                    <div class="kungfu-controls">
                        <a class="kungfu-control" title="{{ localize "CDE.KFEdit" }}" data-action="uedit"><i class="fas fa-edit"></i></a>
                        <a class="kungfu-control" title="{{ localize "CDE.KFDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="kungfu-control" title="{{ localize "CDE.KFCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.KFCreate" }}</a>
            </p>
        </div>
		
		{{!-- Owned Spells Tab --}}
	    <div class="tab spells" data-group="primary" data-tab="spells">
			<ol class="spell-list">
                {{#each data.spells as |spell id|}}
                <li class="spell flexrow" data-item-id="{{spell._id}}">
                    <img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24" />
                    <h4 class="spell-name">{{spell.name}}</h4>
<!--                    {{!-- Iterate through all attributes on the spell and output buttons for any that are formula. --}}
                    <div class="spell-buttons">
                        {{#each spell.system.attributes as |spellAttr key|}}
                        {{#if spellAttr.dtype}}
                            {{#if spellAttr.isFormula}}
                                {{!-- Use the spells.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="spell-button rollable" data-roll="@spells.{{slugify spell.name}}.{{key}}" data-label="{{ spellAttr.label }}"
                                    title="{{spellAttr.value}}">{{spellAttr.label}}</button>
                                {{!-- Use the spells.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="spell-button rollable"
                                    data-roll="@spells.{{slugify spell.name}}.attributes.{{key}}.value" data-label="{{ spellAttr.label }}"
                                    title="{{spellAttr.value}}">{{spellAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each spellAttr as |spellGroupedAttr groupedKey|}}
                                {{#if spellGroupedAttr.isFormula}}
                                    {{!-- Use the spells.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="spell-button rollable" data-roll="@spells.{{slugify spell.name}}.{{key}}.{{groupedKey}}" data-label="{{ spellGroupedAttr.label }}"
                                        title="{{spellGroupedAttr.value}}">{{spellGroupedAttr.label}}</button>
                                    {{!-- Use the spells.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="spell-button rollable"
                                        data-roll="@spells.{{slugify spell.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ spellGroupedAttr.label }}"
                                        title="{{spellGroupedAttr.value}}">{{spellGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div> -->
                    <div class="spell-controls">
                        <a class="spell-control" title="{{ localize "CDE.SpellEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="spell-control" title="{{ localize "CDE.SpellDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="spell-control" title="{{ localize "CDE.SpellCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.SpellCreate" }}</a>
            </p>
		</div>
		
				
    </section>
</form>