<form class="flexcol {{cssClass}}" autocomplete="off">

{{log this}}

    {{!-- Sheet Header --}}
    <header class="sheet-header">
		<table>
			<tr>
				<td>
					<!-- <img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="300" width="200" /> -->
					<img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
				</td>
				<td>
				<div class="header-fields">
					<table>
						<tr>
							<td>
								<h1 class="charname">
									<input name="name" type="text" value="{{data.name}}" placeholder="{{ localize "CDE.Name" }}" />
								</h1>
							</td>
						</tr>
						<tr>
							<td>
								<div class="resourceZ">
									<input type="text" name="system.concept" value="{{systemData.concept}}" placeholder="{{ localize "CDE.Concept" }}"/>
									<span> / </span>
									<select name="system.guardian" value="{{systemData.guardian}}">
									{{#select selected:value }}
										<option value="0">{{ localize "CDE.CelestialGuardian" }}</option>
										<option value="1">{{ localize "CDE.CelestialGuardian1" }}</option>
										<option value="2">{{ localize "CDE.CelestialGuardian2" }}</option>
										<option value="3">{{ localize "CDE.CelestialGuardian3" }}</option>
										<option value="4">{{ localize "CDE.CelestialGuardian4" }}</option>
										<option value="5">{{ localize "CDE.CelestialGuardian5" }}</option>
									{{/select}}
									</select>
								</div>
							<td>
						</tr>
					</table>
				</div>
				</td>
			</tr>
		</table>
    </header>
	

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "CDE.Description2" }}</a>
		<a class="item" data-tab="skills">{{ localize "CDE.Skills" }}</a>
		<a class="item" data-tab="magics">{{ localize "CDE.Magics" }}</a>
        <a class="item" data-tab="nghang">{{ localize "CDE.NgHang" }}</a>
		<a class="item" data-tab="treasures">{{ localize "CDE.Treasures" }}</a>
		<a class="item" data-tab="spells">{{ localize "CDE.Spells" }}</a>
        <a class="item" data-tab="kungfu">{{ localize "CDE.KungFu" }}</a>
        <a class="item" data-tab="items">{{ localize "CDE.Items" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
	


        {{!-- Biography Tab --}}
        <div class="tab description description_wrap" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
		</div>
		
		
		
		{{!-- Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">

			<table>
				<tr>
					<td class="click"><img id="system.art.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Art" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.art.value" value="{{systemData.art.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.art.specialities" value="{{systemData.art.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.art.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>
				
				<tr>
					<td class="click"><img id="system.investigation.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Investigation" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.investigation.value" value="{{systemData.investigation.value}}"/></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.investigation.specialities" value="{{systemData.investigation.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.investigation.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>	
			
				<tr>
					<td class="click"><img id="system.erudition.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Erudition" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.erudition.value" value="{{systemData.erudition.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.erudition.specialities" value="{{systemData.erudition.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.erudition.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>
			
				<tr>
					<td class="click"><img id="system.knavery.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Knavery" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.knavery.value" value="{{systemData.knavery.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.knavery.specialities" value="{{systemData.knavery.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.knavery.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>

				<tr>
					<td class="click" st><img id="system.wordliness.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label">&nbsp;<b>{{ localize "CDE.Wordliness" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.wordliness.value" value="{{systemData.wordliness.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.wordliness.specialities" value="{{systemData.wordliness.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.wordliness.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>

				<tr>
					<td class="click" ><img id="system.prowess.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Prowess" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.prowess.value" value="{{systemData.prowess.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.prowess.specialities" value="{{systemData.prowess.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.prowess.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>

				<tr>
					<td class="click"><img id="system.sciences.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Sciences" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.sciences.value" value="{{systemData.sciences.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.sciences.specialities" value="{{systemData.sciences.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.sciences.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>

				<tr>
					<td class="click"><img id="system.technologies.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Technologies" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.technologies.value" value="{{systemData.technologies.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.technologies.specialities" value="{{systemData.technologies.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.technologies.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>
				<tr>
					<td class="click"><img id="system.kungfu.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.KungFu" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.kungfu.value" value="{{systemData.kungfu.value}}"/></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.kungfu.specialities" value="{{systemData.kungfu.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.kungfu.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>
				
				<tr>
					<td class="click"><img id="system.rangedcombat.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.RangedCombat" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.rangedcombat.value" value="{{systemData.rangedcombat.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.rangedcombat.specialities" value="{{systemData.rangedcombat.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.rangedcombat.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
				</tr>
				
			</table>	

			&nbsp;<br>&nbsp;
			<b>{{ localize "CDE.Resources" }}</b>
			<table>
				<tr>
					<td class="click"><img id="system.supply.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Supply" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.supply.value" value="{{systemData.supply.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Fields" }}" name="system.supply.specialities" value="{{systemData.supply.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.supply.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="check"><input type="checkbox" name="system.supply.debt" value="{{systemData.supply.debt}}" title="{{ localize "CDE.Debt" }}" /></td>
			</tr>

				<tr>
					<td class="click"><img id="system.inquiry.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Inquiry" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.inquiry.value" value="{{systemData.inquiry.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Fields" }}" name="system.inquiry.specialities" value="{{systemData.inquiry.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.inquiry.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="check"><input type="checkbox" name="system.inquiry.debt" value="{{systemData.inquiry.debt}}" title="{{ localize "CDE.Debt" }}" /></td>
				</tr>
				
				<tr>
					<td class="click"><img id="system.influence.D1.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;{{ localize "CDE.Influence" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.influence.value" value="{{systemData.influence.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Fields" }}" name="system.influence.specialities" value="{{systemData.influence.specialities}}"/></td>
					<td class="bonus">+1 D</td>
					<td class="click"><img id="system.influence.D2.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="check"><input type="checkbox" name="system.influence.debt" value="{{systemData.influence.debt}}" title="{{ localize "CDE.Debt" }}" /></td>
				</tr>
			</table>
		</div>
		
		
		
		{{!-- Magics Tab --}}
		<div class="tab magics" data-group="primary" data-tab="magics">
		
			<table class="linear-grey">
				<tr>
					<td class="click"><img id="system.internalcinnabar.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Metal" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize "CDE.InternalCinnabar" }}</b></td>
					<td class="image"><img id="system.internalcinnabar.cercle.value" src="systems/chroniquesdeletrange/images/cercle.png" title="Circle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.internalcinnabar.value" value="{{systemData.internalcinnabar.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize "CDE.Metal" }}</b></td>
					<td>
						<table>
							<tr>
								<td class="check"><input type="checkbox" name="system.essence.check" value="{{systemData.essence.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Essence" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_metal.png" title="{{ localize "CDE.Metal" }}" alt="Metal" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin" /></td>
								<td class="click icon-d"><img id="system.essence.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
					
							<tr>
								<td class="check"><input type="checkbox" name="system.mind.check" value="{{systemData.mind.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Mind" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_eau.png" title="{{ localize "CDE.Water" }}" alt="Die" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin" /></td>
								<td class="click icon-d"><img id="system.mind.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>	
						
							<tr>
								<td class="check"><input type="checkbox" name="system.purification.check" value="{{systemData.purification.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Purification" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_terre.png" title="{{ localize "CDE.Earth" }}" alt="Earth" /></td>
								<td class="icon-yinyang"><img src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin-Yang" alt="Yin-Yang" /></td>
								<td class="click icon-d"><img id="system.purification.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						
							<tr>
								<td class="check"><input type="checkbox" name="system.manipulation.check" value="{{systemData.manipulation.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.Manipulation" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_feu.png" title="{{ localize "CDE.Fire" }}" alt="Fire" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang" /></td>
								<td class="click icon-d"><img id="system.manipulation.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>

							<tr>
								<td class="check"><input type="checkbox" name="system.aura.check" value="{{systemData.aura.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Aura" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_bois.png" title="{{ localize "CDE.Wood" }}" alt="Wood" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang" /></td>
								<td class="click icon-d"><img id="system.aura.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>	
							
			<table class="linear-blue">
				<tr>
					<td class="click"><img id="system.alchemy.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize "CDE.Alchemy" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.alchemy.value" value="{{systemData.alchemy.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize "CDE.Water" }}</b></td>
					<td>
						<table>
							<tr>
								<td class="check"><input type="checkbox" name="system.acupuncture.check" value="{{systemData.acupuncture.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Acupuncture" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_metal.png" title="{{ localize "CDE.Metal" }}" alt="Metal"></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin" /></td>
								<td class="click icon-d"><img id="system.acupuncture.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
					
							<tr>
								<td class="check"><input type="checkbox" name="system.elixirs.check" value="{{systemData.elixirs.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Elixirs" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_eau.png" title="{{ localize "CDE.Water" }}" alt="Water" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin" /></td>
								<td class="click icon-d"><img id="system.elixirs.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>	
						
							<tr>
								<td class="check"><input type="checkbox" name="system.poisons.check" value="{{systemData.poisons.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Poisons" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_terre.png" title="{{ localize "CDE.Earth" }}" alt="Earth"></td>
								<td class="icon-yinyang"><img src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin-Yang" alt="Yin-Yang" /></td>
								<td class="click icon-d"><img id="system.poisons.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						
							<tr>
								<td class="check"><input type="checkbox" name="system.arsenal.check" value="{{systemData.arsenal.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Arsenal" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_feu.png" title="{{ localize "CDE.Fire" }}" alt="Fire"></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang" /></td>
								<td class="click icon-d"><img id="system.arsenal.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>

							<tr>
								<td class="check"><input type="checkbox" name="system.potions.check" value="{{systemData.potions.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Potions" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_bois.png" title="{{ localize "CDE.Wood" }}" alt="Wood"></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang" /></td>
								<td class="click icon-d"><img id="system.potions.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>	
				
			<table class="linear-brown">
				<tr>
					<td class="click"><img id="system.masteryoftheway.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize "CDE.MasteryOfTheWay" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Circle" alt="Cercle">
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.masteryoftheway.value" value="{{systemData.masteryoftheway.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize "CDE.Earth" }}</b></td>
					<td>
						<table>
							<tr>
								<td class="check"><input type="checkbox" name="system.curse.check" value="{{systemData.acupuncture.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Curse" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_metal.png" title="{{ localize "CDE.Metal" }}" alt="Metal" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin"></td>
								<td class="click icon-d"><img id="system.curse.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
							
				
							<tr>
								<td class="check"><input type="checkbox" name="system.transfiguration.check" value="{{systemData.transfiguration.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Transfiguration" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_eau.png" title="{{ localize "CDE.Water" }}" alt="Water" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin"></td>
								<td class="click icon-d"><img id="system.transfiguration.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>	

	
							<tr>
								<td class="check"><input type="checkbox" name="system.necromancy.check" value="{{systemData.necromancy.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Necromancy" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_terre.png" title="{{ localize "CDE.Earth" }}" alt="Earth"></td>
								<td class="icon-yinyang"><img src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin-Yang" alt="Yin-Yang" /></td>
								<td class="click icon-d"><img id="system.necromancy.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
							
				
							<tr>
								<td class="check"><input type="checkbox" name="system.climatecontrol.check" value="{{systemData.climatecontrol.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.ClimateControl" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_feu.png" title="{{ localize "CDE.Fire" }}" alt="Fire" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.climatecontrol.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
							
	
							<tr>
								<td class="check"><input type="checkbox" name="system.goldenmagic.check" value="{{systemData.goldenmagic.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.GoldenMagic" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_bois.png" title="{{ localize "CDE.Wood" }}" alt="Wood" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.goldenmagic.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						</table>
					</td>
				</tr>
				
			</table>

			<table class="linear-red">
				<tr>
					<td class="click"><img id="system.exorcisme.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize "CDE.Exorcism" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Circle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.exorcisme.value" value="{{systemData.exorcisme.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize "CDE.Fire" }}</b></td>
					<td>
						<table>
							<tr>
								<td class="check"><input type="checkbox" name="system.invocation.check" value="{{systemData.invocation.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Invocation" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_metal.png" title="{{ localize "CDE.Metal" }}" alt="Mrtal"></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin"></td>
								<td class="click icon-d"><img id="system.invocation.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
					
							<tr>
								<td class="check"><input type="checkbox" name="system.tracking.check" value="{{systemData.tracking.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Tracking" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_eau.png" title="{{ localize "CDE.Water" }}" alt="Water" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin"></td>
								<td class="click icon-d"><img id="system.tracking.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>	
						
							<tr>
								<td class="check"><input type="checkbox" name="system.protection.check" value="{{systemData.protection.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Protection" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_terre.png" title="{{ localize "CDE.Earth" }}" alt="Earth"></td>
								<td class="icon-yinyang"><img src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin-Yang" alt="Yin-Yang"></td>
								<td class="click icon-d"><img id="system.protection.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						
							<tr>
								<td class="check"><input type="checkbox" name="system.punishment.check" value="{{systemData.punishment.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Punishment" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_feu.png" title="{{ localize "CDE.Fire" }}" alt="Fire"></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.punishment.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>

							<tr>
								<td class="check"><input type="checkbox" name="system.domination.check" value="{{systemData.domination.check}}"/></td>
								<td class="label"><b>{{ localize "CDE.Domination" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_bois.png" title="{{ localize "CDE.Wood" }}" alt="Wood"></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.domination.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
			<table class="linear-green">
				<tr>
					<td class="click"><img id="system.geomancy.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
					<td class="label"><b>&nbsp;&nbsp;{{ localize "CDE.Geomancy" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Circle" alt="Cercle" />
						<div class="truc">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.geomancy.value" value="{{systemData.geomancy.value}}" /></td>
					<td class="label"><b>&nbsp;&nbsp;,&nbsp;{{ localize "CDE.Wood" }}</b></td>
					<td>
						<table>
							<tr>
								<td class="check"><input type="checkbox" name="system.neutralization.check" value="{{systemData.neutralization.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.Neutralization" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_metal.png" title="{{ localize "CDE.Metal" }}" alt="Metal" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin"></td>
								<td class="click icon-d"><img id="system.neutralization.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
					
							<tr>
								<td class="check"><input type="checkbox" name="system.divination.check" value="{{systemData.divination.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.Divination" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_eau.png" title="{{ localize "CDE.Water" }}" alt="Water" /></td>
								<td class="icon-yin"><img src="systems/chroniquesdeletrange/images/cde_yin.png" title="Yin" alt="Yin" /></td>
								<td class="click icon-d"><img id="system.divination.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>	
						
							<tr>
								<td class="check"><input type="checkbox" name="system.earthlyprayer.check" value="{{systemData.earthlyprayer.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.EarthlyPrayer" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_terre.png" title="{{ localize "CDE.Earth" }}" alt="Earth" /></td>
								<td class="icon-yinyang"><img src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin-Yang" alt="Yin-Yang"></td>
								<td class="click icon-d"><img id="system.earthlyprayer.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						
							<tr>
								<td class="check"><input type="checkbox" name="system.heavenlyprayer.check" value="{{systemData.heavenlyprayer.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.HeavenlyPrayer" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_feu.png" title="{{ localize "CDE.Fire" }}" alt="Fire" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.heavenlyprayer.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>

							<tr>
								<td class="check"><input type="checkbox" name="system.fungseoi.check" value="{{systemData.fungseoi.check}}" /></td>
								<td class="label"><b>{{ localize "CDE.Fungseoi" }}</b></td>
								<td class="icon-element"><img src="systems/chroniquesdeletrange/images/cde_bois.png" title="{{ localize "CDE.Wood" }}" alt="Wood" /></td>
								<td class="icon-yang"><img src="systems/chroniquesdeletrange/images/cde_yang.png" title="Yang" alt="Yang"></td>
								<td class="click icon-d"><img id="system.fungseoi.click" src="systems/chroniquesdeletrange/images/d10-10.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
		</div>



		{{!-- 3 Treasures Tab --}}
		<div class="tab treasures" data-group="primary" data-tab="treasures">
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.HEI" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.Essence2" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.YANG-YIN" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				{{ localize "CDE.Max-Present-Present-Max" }}
			</div>
			<div>
				<img style="width: 17%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 27%;margin-left: -35px;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-top: 0px;" class="cercle-yinyang" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 27%;position: relative;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 17%;margin-left: -35px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 35px;text-align: center;font-size: 1.5em;" class="input heiyang.max" type="number" name="system.heiyang.max" value="{{systemData.heiyang.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyang.value" type="number" name="system.heiyang.value" value="{{systemData.heiyang.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 240px;text-align: center;font-size: 1.5em;" class="input heiyin.value" type="number" name="system.heiyin.value" value="{{systemData.heiyin.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyin.max" type="number" name="system.heiyin.max" value="{{systemData.heiyin.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.SAN-ZING" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.MentalHealth-PhysicalHealth" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
			{{ localize "CDE.Max-Present-Malus-Present-Max" }}
			</div>
			<div>
				<img style="width: 9%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>--</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle.petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 95px;text-align: center;font-size: 1.5em;" class="input san1.max" type="number" name="system.san1.max" value="{{systemData.san1.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san1.value" type="number" name="system.san1.value" value="{{systemData.san1.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 145px;text-align: center;font-size: 1.5em;" class="input zing1.value" type="number" name="system.zing1.value" value="{{systemData.zing1.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing1.max" type="number" name="system.zing1.max" value="{{systemData.zing1.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div>
				<img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>- 1 D</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle-tres_petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san2.max" type="number" name="system.san2.max" value="{{systemData.san2.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san2.value" type="number" name="system.san2.value" value="{{systemData.san2.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 160px;text-align: center;font-size: 1.5em;" class="input zing2.value" type="number" name="system.zing2.value" value="{{systemData.zing2.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing2.max" type="number" name="system.zing2.max" value="{{systemData.zing2.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;			<div>
				<img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<b>- 2 D</b>
				<img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
				<img style="width: 15%;margin-left: -25px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san3.max" type="number" name="system.san3.max" value="{{systemData.san3.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san3.value" type="number" name="system.san3.value" value="{{systemData.san3.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 160px;text-align: center;font-size: 1.5em;" class="input zing3.value" type="number" name="system.zing3.value" value="{{systemData.zing3.value}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing3.max" type="number" name="system.zing3.max" value="{{systemData.zing3.max}}"/>
            </div>
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			&nbsp;<br>&nbsp;
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.PTAO" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				<b>{{ localize "CDE.Experience" }}</b>
			</div>
			<div style="text-align: center;margin-left: -40px;">
				{{ localize "CDE.Total-Present" }}
			</div>
			<div>
				<img style="width: 32%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
				<img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Total" }}" alt="Cercle">
				<img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
			</div>
			<div style ="position: relative;margin-top: -90px;" class="hei-yang">
                <input style="width: 40px;height: 28px;margin-left: 255px;text-align: center;font-size: 1.5em;" class="input experience.max" type="number" name="system.experience.max" value="{{systemData.experience.max}}"/>
                <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input experience.value" type="number" name="system.experience.value" value="{{systemData.experience.value}}"/>
            </div>
		</div>
		
		
				
		{{!-- NgHang Tab --}}
        <div class="tab nghang nghang_wrap" data-group="primary" data-tab="nghang">
			<div class="machin">
				<br>&nbsp;<br>
				<div class="resource1">
					<input type="number" name="system.fire.value" value="{{systemData.fire.value}}" />
					<img class="click" id="systemfireclick" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}"
					alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
				</div>
				<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
				<div class="resource2">
					<input type="number" name="system.wood.value" value="{{systemData.wood.value}}" />
					<img class="click" id="systemwoodclick" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}"
					alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
				</div>
				<div class="resource3">
				</div>
				<div class="resource4">
					<input type="number" name="system.earth.value" value="{{systemData.earth.value}}" />
					<img class="click" id="systemearthclick" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}"
					alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
				</div>
				<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
				<div class="resource5">
					<input type="number" name="system.water.value" value="{{systemData.water.value}}" />
					<img class="click" id="systemwaterclick" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}"
					alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
				</div>
				<div class="resource6">
				</div>
				<div class="resource7">
					<input type="number" name="system.metal.value" value="{{systemData.metal.value}}" />
					<img class="click" id="systemmetalclick" src="systems/chroniquesdeletrange/images/d10-transparent.png" title="{{ localize "CDE.Die" }}"
					alt="Die" onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"; onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';" />
				</div>
	<!--			<div>
					<figure>
						<img src="systems/chroniquesdeletrange/images/nghang.png"
						title="Image"
						alt="Image">
						<figcaption>
							&nbsp;
						</figcaption>
					</figure>
				</div> -->
 			</div>
			<img src="systems/chroniquesdeletrange/images/nghang.png"
				title="Nghang"
				alt="Image">
		</div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "CDE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "CDE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "CDE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.ItemCreate" }}</a>
            </p>
        </div>

        {{!-- Owned KungFu Tab --}}
        <div class="tab kungfu" data-group="primary" data-tab="kungfu">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "CDE.KFEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "CDE.KFDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "CDE.KFCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.KFCreate" }}</a>
            </p>
        </div>
		
		{{!-- Owned Spells Tab --}}
	    <div class="tab spells" data-group="primary" data-tab="spells">
			<ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "CDE.SpellEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "CDE.SpellDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "CDE.SpellCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.SpellCreate" }}</a>
            </p>
		</div>
		
		
		
    </section>
</form>
