<form class="flexcol {{cssClass}}" autocomplete="off">

{{log this}}

    {{!-- Sheet Header --}}
    <header class="sheet-header">
		<table>
			<tr>
				<td>
					<!-- <img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="300" width="200" /> -->
					<img class="logo-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
				</td>
				<td>
					<div class="header-fields">
						<table>
							<tr>
								<td>
									<h1 class="charname">
										<input name="name" type="text" value="{{data.name}}" placeholder="{{ localize "CDE.NPCName" }}" />
									</h1>
								</td>
								<td>
									<h1 class="charname">
										<input name="system.npc.type" type="text" value="{{systemData.npc.type}}" placeholder="{{ localize "CDE.Type" }}" />
									</h1>
								</td>
							</tr>
							<tr>
								<td>
									<div class="threat">
										<b>{{ localize "CDE.Threat" }}</b>
										<span>&nbsp;</span>
										<!-- <select name="system.guardian" value="{{ systemData.guardian }}" > -->
										<select name="system.npc.threat">
										<label><b>{{#select systemData.npc.threat }}</b></label>
											<option value="0">{{ localize "CDE.Profane" }}</option>
											<option value="1">{{ localize "CDE.Apprentice" }}</option>
											<option value="2">{{ localize "CDE.Initiate" }}</option>
											<option value="3">{{ localize "CDE.Accomplished" }}</option>
											<option value="4">{{ localize "CDE.Reknowned" }}</option>
										{{/select}}
										</select>
									</div>
								</td>
								<td>
									<div class="nuisance">
									</label><b>{{ localize "CDE.Nuisance" }}</b></label>
										<span>&nbsp;</span>
										<!-- <select name="system.guardian" value="{{ systemData.guardian }}" > -->
										<select name="system.npc.nuisance">
										{{#select systemData.npc.nuisance }}
											<option value="0">{{ localize "CDE.Figurant" }}</option>
											<option value="1">{{ localize "CDE.Minion" }}</option>
											<option value="2">{{ localize "CDE.Adversary" }}</option>
											<option value="3">{{ localize "CDE.Ally" }}</option>
											<option value="4">{{ localize "CDE.Boss" }}</option>
											<option value="5">{{ localize "CDE.Dininity" }}</option>
										{{/select}}
										</select>
									</div>
								<td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
    </header>
	

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "CDE.Description" }}</a>
		<a class="item" data-tab="aptitudes">{{ localize "CDE.Aptitudes" }}</a>
		<a class="item" data-tab="supernaturals">{{ localize "CDE.SuperNatural" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
	


        {{!-- Biography Tab --}}
        <div class="tab description description_wrap" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.npc.description" button=true editable=editable engine="prosemirror"}}
		</div>
		


		{{!-- Aptitudes Tab --}}
		<div class="tab aptitudes" data-group="primary" data-tab="aptitudes">

			&nbsp;<br>&nbsp;
			<b>{{ localize "CDE.Aptitudes" }}</b>
			<table>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Physical" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input phys-apt" type="number" placeholder="0" name="system.npc.aptitudes.physical.value" value="{{systemData.npc.aptitudes.physical.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.npc.aptitudes.physical.speciality" value="{{systemData.npc.aptitudes.physical.speciality}}" /></td>
				</tr>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Martial" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.npc.aptitudes.martial.value" value="{{systemData.npc.aptitudes.martial.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.npc.aptitudes.martial.speciality" value="{{systemData.npc.aptitudes.martial.speciality}}" /></td>
				</tr>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Mental" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.npc.aptitudes.mental.value" value="{{systemData.npc.aptitudes.mental.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.npc.aptitudes.mental.speciality" value="{{systemData.npc.aptitudes.mental.speciality}}" /></td>
				</tr>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Social" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.npc.aptitudes.social.value" value="{{systemData.npc.aptitudes.social.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.npc.aptitudes.social.speciality" value="{{systemData.npc.aptitudes.social.speciality}}" /></td>
				</tr>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Spiritual" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input spir-apt" type="number" placeholder="0" name="system.npc.aptitudes.spiritual.value" value="{{systemData.npc.aptitudes.spiritual.value}}" /></td>
					<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Specialities" }}" name="system.npc.aptitudes.spiritual.speciality" value="{{systemData.npc.aptitudes.spiritual.speciality}}" /></td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Vitality" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.npc.vitality.value" value="{{systemData.npc.vitality.value}}" /></td>
						<td class="image2"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
							<div class="stick">&nbsp;</div>
							<div>-{{systemData.npc.vitality.calcul}}-</div></td>
						<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Notes" }}" name="system.npc.vitality.note" value="{{systemData.npc.vitality.note}}" /></td>
				</tr>
				<tr>
					<td class="label"><b>&nbsp;{{ localize "CDE.Hei" }}</b></td>
					<td class="image"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
						<div class="stick">&nbsp;</div>
						<input class="input" type="number" placeholder="0" name="system.npc.hei.value" value="{{systemData.npc.hei.value}}" /></td>
						<td class="image2"><img src="systems/chroniquesdeletrange/images/cercle.png" title="Cercle" alt="Cercle" />
							<div class="stick">&nbsp;</div>
							<div>-{{systemData.npc.hei.calcul}}-<div></td>
						<td class="specialities"><input class="input" type="text" placeholder="{{ localize "CDE.Notes" }}" name="system.npc.hei.note" value="{{systemData.npc.hei.note}}" /></td>
				</tr>
			</table>
			<div class="dragon">
			<img class="logo" src="systems/chroniquesdeletrange/images/logo_dore.png" title="奇闻异事 ● Hong Kong – Les Chroniques de l'&Eacute;trange ● R.d′Huissier & C.Lameire ● Antre Monde &Eacute;ditions" alt="Logo">
			</div>
		</div>
		
				
		{{!-- SuperNatural Tab --}}
		<div class="tab supernaturals" data-group="primary" data-tab="supernaturals">
			<ol class="supernaturals-list">
				{{#each data.supernaturals as |supernatural id|}}
				<li class="supernatural flexrow" data-item-id="{{supernatural._id}}">
					<img src="{{supernatural.img}}" title="{{supernatural.name}}" width="24" height="24" />
					<h4 class="supernatural-name">{{supernatural.name}}</h4>
<!--                    {{!-- Iterate through all attributes on the kungfu and output buttons for any that are formula. --}}
					<div class="kungfu-buttons">
						{{#each kungfu.system.attributes as |kungfuAttr key|}}
						{{#if kungfuAttr.dtype}}
							{{#if kungfuAttr.isFormula}}
								{{!-- Use the kungfus.name.key format for shorthand. --}}
								{{#if ../../shorthand}}
								<button class="kungfu-button rollable" data-roll="@kungfus.{{slugify kungfu.name}}.{{key}}" data-label="{{ kungfuAttr.label }}"
									title="{{kungfuAttr.value}}">{{kungfuAttr.label}}</button>
								{{!-- Use the kungfus.name.attributes.key.value format otherwise. --}}
								{{else}}
								<button class="kungfu-button rollable"
									data-roll="@kungfus.{{slugify kungfu.name}}.attributes.{{key}}.value" data-label="{{ kungfuAttr.label }}"
									title="{{kungfuAttr.value}}">{{kungfuAttr.label}}</button>
								{{/if}}
							{{/if}}
						{{else}}
							{{#each kungfuAttr as |kungfuGroupedAttr groupedKey|}}
								{{#if kungfuGroupedAttr.isFormula}}
									{{!-- Use the kungfus.name.key format for shorthand. --}}
									{{#if ../../../shorthand}}
									<button class="kungfu-button rollable" data-roll="@kungfus.{{slugify kungfu.name}}.{{key}}.{{groupedKey}}" data-label="{{ kungfuGroupedAttr.label }}"
										title="{{kungfuGroupedAttr.value}}">{{kungfuGroupedAttr.label}}</button>
									{{!-- Use the kungfus.name.attributes.key.value format otherwise. --}}
									{{else}}
									<button class="kungfu-button rollable"
										data-roll="@kungfus.{{slugify kungfu.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ kungfuGroupedAttr.label }}"
										title="{{kungfuGroupedAttr.value}}">{{kungfuGroupedAttr.label}}</button>
									{{/if}}
								{{/if}}
							{{/each}}
						{{/if}}
						{{/each}}
					</div> -->
					<div class="supernatural-controls">
						<a class="supernatural-control" title="{{ localize "CDE.SupernaturalEdit" }}" data-action="uedit"><i class="fas fa-edit"></i></a>
						<a class="supernatural-control" title="{{ localize "CDE.SupernaturalDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</ol>
			<p>
				<a class="supernatural-control" title="{{ localize "CDE.SupernaturalCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "CDE.SupernaturalCreate" }}</a>
			</p>
		</div>
	

		
				
    </section>
</form>