<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
		</div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CDE.Description"}}</a>
        <a class="item" data-tab="data">{{localize "CDE.Data"}}</a>
        <a class="item" data-tab="Components">{{localize "CDE.Components"}}</a>
        <a class="item" data-tab="effects">{{localize "CDE.Effects"}}</a>
        <a class="item" data-tab="examples">{{localize "CDE.Examples"}}</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.spell.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Data Tab --}}
        <div class="tab" data-group="primary" data-tab="data">
		    <div class="specialityname">
				<label><b>{{ localize "CDE.SpecialityName" }}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.SpecialityName" }}1" name="system.spell.specialityname" value="{{systemData.spell.specialityname}}"/>
			</div>
		
            <div class="associatedelement">
                <label><b>{{localize "CDE.AssociatedElement"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.AssociatedElement" }}1" name="system.spell.associatedelement" value="{{systemData.spell.associatedelement}}"/>
			</div>

		    <div class="hei">
				<label></label><b>{{ localize "CDE.Hei" }}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Hei" }}1" name="system.spell.hei" value="{{systemData.spell.hei}}"/>
			</div>

		    <div class="realizationtimeritual">
                <label><b>{{localize "CDE.RealizationTimeRitual"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.RealizationTimeRitual" }}1" name="system.spell.realizationtimeritual" value="{{systemData.spell.realizationtimeritual}}"/>
			</div>
			
		    <div class="realizationtimeaccelerated">
			<label></label><b>{{ localize "CDE.RealizationTimeAccelerated" }}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.RealizationTimeAccelerated" }}1" name="system.spell.realizationtimeaccelerated" value="{{systemData.spell.realizationtimeaccelerated}}"/>
			</div>
		
            <div class="flashback">
                <label><b>{{localize "CDE.Flashback"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Flashback" }}1" name="system.spell.flashback" value="{{systemData.spell.flashback}}"/>
			</div>           
        </div>
		
        {{!-- Components Tab --}}
        <div class="tab" components-group="primary" components-tab="components">
            {{editor descriptionHTML target="system.spell.components" button=true editable=editable engine="prosemirror"}}
        </div>

		{{!-- Effects Tab --}}
        <div class="tab" effects-group="primary" effects-tab="effect">
            {{editor descriptionHTML target="system.spell.effects" button=true editable=editable engine="prosemirror"}}
        </div>

		{{!-- Examples Tab --}}
        <div class="tab" examples-group="primary" examples-tab="examples">
            {{editor descriptionHTML target="system.spell.examples" button=true editable=editable engine="prosemirror"}}
        </div>
			
    </section>
</form>