<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log 'item-sheet' this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <label><b>{{localize "CDE.Quantity"}}</b></label>
                <input type="number" name="system.quantity" value="{{systemData.quantity}}"/>
            </div>
            <div class="resource">
				<label><b>{{localize "CDE.Reference"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Reference" }}" name="system.reference" value="{{systemData.reference}}" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CDE.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "CDE.Attributes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
        </div>
    </section>
</form>