<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize "CDE.Name" }}" />
            </h1>
			<div>
				<table class="kungfu">
					<tr>
							<td class="label"><b>&nbsp;{{ localize "CDE.Orientation" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize "CDE.Orientation" }}" name="system.kf.orientation" value="{{systemData.kf.orientation}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Aspect" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize "CDE.Aspect" }}" name="system.kf.aspect" value="{{systemData.kf.aspect}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Skill" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize "CDE.Skill" }}" name="system.kf.skill" value="{{systemData.kf.skill}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Speciality" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize "CDE.Speciality" }}" name="system.kf.speciality" value="{{systemData.kf.speciality}}"/></td>
					</tr>
				</table>			
			</div>
        </div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CDE.Description"}}</a>
        <a class="item" data-tab="technique1">{{localize "CDE.Technique"}} 1</a>
        <a class="item" data-tab="technique2">{{localize "CDE.Technique"}} 2</a>
        <a class="item" data-tab="technique3">{{localize "CDE.Technique"}} 3</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.kf.description" button=true editable=editable engine="prosemirror"}}
        </div>
		
		{{!-- Technique 1 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique1">
			<div class="techniquename1">
				<label><b>{{localize "CDE.Technique"}} 1</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Technique" }}" name="system.kf.techniques.technique1.name" value="{{systemData.kf.techniques.technique1.name}}" />
			</div>
			<div class="techniqueactivation1">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Activation" }}" name="system.kf.techniques.technique1.activation" value="{{systemData.kf.techniques.technique1.activation}}" />
			</div>
			<div>
				<label><b>{{localize "CDE.Description"}}</b></label><br>
			</div>
			{{editor descriptionHTML target="system.kf.techniques.technique1.technique" button=true editable=editable engine="prosemirror"}}
		</div>

		{{!-- Technique 2 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique2">
			<div class="techniquename2">
				<label><b>{{localize "CDE.Technique"}} 2</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Technique" }}" name="system.kf.techniques.technique2.name" value="{{systemData.kf.techniques.technique2.name}}" />
			</div>
			<div class="techniqueactivation2">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Activation" }}" name="system.kf.techniques.technique2.activation" value="{{systemData.kf.techniques.technique2.activation}}" />
			</div>
			<div>
				<label><b>{{localize "CDE.Description"}}</b></label><br>
			</div>
			{{editor descriptionHTML target="system.kf.techniques.technique2.technique" button=true editable=editable engine="prosemirror"}}
		</div>

		{{!-- Technique 3 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique3">
			<div class="techniquename3">
				<label><b>{{localize "CDE.Technique"}} 3</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Technique" }}" name="system.kf.techniques.technique3.name" value="{{systemData.kf.techniques.technique31.name}}" />
			</div>
			<div class="techniqueactivation3">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize "CDE.Activation" }}" name="system.kf.techniques.technique3.activation" value="{{systemData.kf.techniques.technique3.activation}}" />
			</div>
			<label><b>{{localize "CDE.Description"}}</b></label><br>
			<div>
			</div>
			{{editor descriptionHTML target="system.kf.techniques.technique3.technique" button=true editable=editable engine="prosemirror"}}
		</div>

    </section>

</form>