<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "CDE.MagicPromptName" }}{{ systemData.magicprpt.title }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" id="prompt">

        {{!-- Frame --}}
        <div class="frame">

            <table>
                <tr>
                    <td>
                        {{ localize "CDE.OneMagicRoll" }}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="label col1-5">&nbsp;</td>
                    <td class="image col2-5">
                        <img class="bigsquare" src="systems/chroniquesdeletrange/images/bigsquare.png" />
                    </td>
                    <td class="label col3-5">&nbsp;</td>
                    <td class="label col4-5"><b>+ 1 +</b></td>
                    <td class="label col5-5">&nbsp;</td>
                </tr>
                <tr> <!-- Ce tr collé au-dessus du tr ci-dessus, pour que le numberofdice soit au milieu du bigsquare.png -->
                    <td class="value col1-3">{{ systemData.magicprpt.numberofdice }}</td>
                    <td class="label col2-3">&nbsp;</td>
                    <td class="label col3-3">&nbsp;</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="small">
                        {{ localize "CDE.DoNotModify" }}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="label col1-5">{{ localize "CDE.AspectSkill" }}</td>
                    <td class="label col2-5">&nbsp;</td>
                    <td class="label col3-5">{{ localize "CDE.BonusMalus" }}</td>
                    <td class="label col4-5">&nbsp;</td>
                    <td class="label col5-5">{{ localize "CDE.BonusAuspiciousDice" }}</td>
                </tr>
                <tr>
                    <td class="select col1-5">
                        <select name="system.magicprpt.aspectskill">
                        {{#select systemData.magicprpt.aspectskill }}
                            <option value="1">{{ localize "CDE.Metal" }}</option>
                            <option value="2">{{ localize "CDE.Water" }}</option>
                            <option value="3">{{ localize "CDE.Earth" }}</option>
                            <option value="4">{{ localize "CDE.Fire" }}</option>
                            <option value="5">{{ localize "CDE.Wood" }}</option>
                        {{/select}}
                        </select>
                    </td>
                    <td class="label col2-5">+</td>
                    <td class="value col3-5"><input class="input" type="number" name="system.magicprpt.bonusmalusskill" value="{{systemData.magicprpt.bonusmalusskill}}"/></td>
                    <td class="label col4-5">&nbsp;</td>
                    <td  class="select col5-5">
                        <select name="system.magicprpt.bonusauspiciousdice">
                        {{#select systemData.magicprpt.bonusauspiciousdice }}
                            <option value="0">0</option>
                            <option value="1">+1&nbsp;{{ localize "CDE.AuspiciousDie" }}</option>
                            <option value="2">+2&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="3">+3&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="4">+4&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="5">+5&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="6">+6&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="7">+7&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="8">+8&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="9">+9&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="10">+10&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="11">+11&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="12">+12&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="13">+13&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="14">+14&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                            <option value="15">+15&nbsp;{{ localize "CDE.AuspiciousDice" }}</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        {{ localize "CDE.TwoPowerOfSpell" }}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="small">
                        {{ localize "CDE.DoNotModify" }}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="label col1-5">{{ localize "CDE.AspectSpeciality" }}</td>
                    <td class="label col2-5">&nbsp;</td>
                    <td class="label col3-5">{{ localize "CDE.RollDifficulty" }}</td>
                    <td class="label col4-5">&nbsp;</td>
                    <td class="label col5-5">{{ localize "CDE.BonusMalus" }}</td>
                </tr>
                <tr>
                    <td class="select col1-5">
                        <select name="system.magicprpt.aspectspeciality">
                        {{#select systemData.magicprpt.aspectspeciality }}
                            <option value="1">{{ localize "CDE.Metal" }}</option>
                            <option value="2">{{ localize "CDE.Water" }}</option>
                            <option value="3">{{ localize "CDE.Earth" }}</option>
                            <option value="4">{{ localize "CDE.Fire" }}</option>
                            <option value="5">{{ localize "CDE.Wood" }}</option>
                        {{/select}}
                        </select>
                    </td>
                    <td class="label col2-5">⨯</td>
                    <td class="value col3-5"><input class="input" type="number" name="system.magicprpt.rolldifficulty" value="{{systemData.magicprpt.rolldifficulty}}"/></td>
                    <td class="label col4-5">+</td>
                    <td class="value col3-5"><input class="input" type="number" name="system.magicprpt.bonusmalusspeciality" value="{{systemData.magicprpt.bonusmalusspeciality}}"/></td>
                </tr>
            </table>
            <table>
                <tr> <!-- Ce logo sert de bouton pour valider le Prompt -->
                    <td class="click col123 button-right"><img id="system.magicprpt.click" src="systems/chroniquesdeletrange/images/yin_yang.png" title="{{ localize "CDE.Die" }}" alt="Die" /></td>
                </tr>
            </table>

		</div>	
    </section>
</form>